$font-size-default : 14px;
/*$normalFont: 'Roboto', sans-serif;*/
$normalFont: 'Raleway', sans-serif;
$tropicalFont: 'Inconsolata', monospace;


/*---- COLOR ----*/
$darkgrey : #393939;
$lightgrey : #9f9f9f;
$colorline : #f7f7f7;
$white : #FFF;
$max-width : 'max-width:992px';