.cd-main-content{
	section{
		padding:10vh 0;
		position: relative;
		z-index: 0;

		@include media-breakpoint-down(md) {
            padding:1vh 0;
        }

        @include media-breakpoint-down(lg) {
            padding:5vh 0;
        }
	}

	.content{
		z-index: 1200;
		overflow: hidden;

		&.page-project{
			padding-top:20vh;
			padding-bottom: 0;
		}

		.title-content{
			@include media-breakpoint-down(sm) {
	           	width: 80%;
	           	margin:0 auto;
	          }
		}

		.date{
			font-size: 2.2em;
			font-family: $tropicalFont;
			opacity: 0;
		}

		.tags{
			margin:2vw 0 0 0;
			padding-right: 15%;
			padding-left: 5%;
			opacity: 0;

			ul{
				list-style-type: none;
				padding: 0;

				li{
					display: inline-block;
					margin-right: 10px;
					padding: 5px 8px;
					color: $lightgrey;
					background-color: $colorline;
					margin-bottom: 10px;

					&:lst-child{
						margin-right:0;
					}
				}
			}
		}

		h1{
			font-family: $tropicalFont;
			font-size: 10em;
			font-weight: bold;
			padding-right: 3vw;
			line-height: .8em;
			color: $lightgrey;
			opacity: 0;

			@include media-breakpoint-down(lg) {
	            font-size: 8em;
	        }


			@include media-breakpoint-down(md) {
	            font-size: 6em;
	        }

	        @include media-breakpoint-down(md) {
	            font-size: 4em;
	        }


		}

		.link-out{
			font-size: 1.5em;
			font-weight: bold;
			color:$darkgrey;
			display:block;
			margin-top: 2vw;
			padding-left: 5%;
			opacity: 0;

			&:hover{
				text-decoration:none;
			}

			&:hover svg{
				transform: matrix(1.2, 0, 0, 1.2, 0, 0) !important;
				transform-origin: left;
			}

			svg{
				width: 30px;
				height: auto;
				display: inline-block;
				transition: transform .5s;
				-webkit-transition: transform .5s;
				transform-origin: left;

				.st0{
					fill:none;
					stroke:#393939;
					stroke-miterlimit:10;
				}
			}

		}

		h3{
			font-weight: bold;
			font-size: 2.2em;
			padding-left:2vw;
			position: absolute;
			z-index: 999;
			margin-top: 2vh;
			margin-bottom: 4vh;

			.order{
				font-family: $tropicalFont;
				font-weight: bolder;
				font-size: 4em;
				left: 0;
				color:$lightgrey;
				opacity:.1;
				position: absolute;
				z-index: -1;
				margin-top: -95px;

				&.white{
					color: $white;
				}
			}
		}

		.text-content{
			font-size: 1.6em;
			margin-top: 6vh;
			background-color: $lightgrey;
			opacity: 0;

			@include media-breakpoint-down(md) {
	           	font-size: 1.2em;
	        }

	        @include media-breakpoint-down(sm) {
	           	width: 80%;
	           	margin:0 auto;
	           	margin-top: 5vh;
	        }


			p{
				padding-top:40px;
			}
		}

		.screen{
			width: 100vw;
			height: auto;
			padding-top:10vh;
			padding-bottom:10vh;

			@include media-breakpoint-down(md) {
	            padding:5vh 0;
	        }

	        @include media-breakpoint-down(sm) {
	            width: 80vw;
	            margin-left: auto;
	            margin-right: auto;
	        }

	        @include media-breakpoint-down(lg) {
	            padding:5vh 0;
	        }

			&.right{
				img{
					margin-right: -25vh;
				}
			}

			.content-image{

				position: relative;
				display: block;
				opacity: 0;

				&::before{
					content:'';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: currentColor;
				}

				.image-ratio{
					display: block;
				}

				img{
					max-width: 100%;
					width: 100%;
					margin-left: auto;
					margin-right: auto;
					display: block;
					position: absolute;
					top: 0;
					left: 0;

					&.gif{
						width: 80%;
						padding-top: 50px;
						padding-bottom: 50px;
						left: 50%;
						transform: translate(-50%,0);
					}

					&.gif-height{
						width: 50%;
						padding-top: 50px;
						padding-bottom: 50px;
						left: 50%;
						transform: translate(-50%,0);
					}
				}
			}
		}

		.photo{

			margin-bottom: 5vh;

			img{
				display: block;
				width: 75%;
				height: auto;
				margin-top: 3vh;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
}

#slider{

	height: 100vh;
	width: 100vw;
	overflow: hidden;

	.slider{

		.flex { 
			display: -webkit-flex; 
			display: flex; 
			-webkit-flex-direction: row;  
			flex-direction: row; 
			-webkit-justify-content: 
			flex-start; justify-content: 
			flex-start;
		}

		.slider-wrapper div {
			position: relative;
		}
		.slider-wrapper {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.slide-image {
			height: auto;
			transform: translate(-50%,-50%);
			top: 50%;
			left: 50%;
			width: 50vw;
			cursor: pointer;

			&:first-child{
			}

			&:last-child{
				margin-left:0;
			}
		}
		.slide-image img {
			width: 75%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			
		}
	}

}

a.all-project{
    color:$darkgrey;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    margin-bottom: 15vh;

    &:hover{
        text-decoration:none;
        color: $darkgrey;
    }

    &:hover svg{
        transform: scale(1.2);
        position: relative;
    }

    svg{

        height: 15px;
        width: auto;
        transition: transform .5s;
        -webkit-transition: transform .5s;
        transform-origin: right;

        .st0{
            fill:none;
            stroke:$darkgrey;
            stroke-miterlimit:10;
        }
    }
}


/* PAGE ABOUT */

.about{

	min-height:100vh;
	height: auto;
	overflow: hidden;


	&:first-child{
		margin-top: 5vh;
	}

	@include media-breakpoint-down(sm) {
		min-height:50vh;
	}


	.title{
		display: inline-block;
		text-transform: uppercase;
		position: absolute;
		width: 105vw;
		left: -2vw;
		font-size: 18vw;
		line-height: 1em;
		text-align: center;
		height: 50vh;
		text-rendering: optimizeLegibility;
		color: $colorline;
		margin-top: 10vh;
		font-weight: bold;
		opacity: 0;
	}

	h2{
		font-weight: bold;
		text-transform: uppercase;
		color: $darkgrey;
		transform-origin: -50% -50%;
		position: absolute;
		display: inline-block;
		text-align: center;
		font-size: 10vw;
		top: 18vw;
		left: 0;
		width: 100vw;
		opacity: 0;

		@include media-breakpoint-down(sm) {
			top: 30vw;
		}
	}

	.moving-about{

		padding-top: 10vh;

		@include media-breakpoint-down(sm) {
			padding-left: 10vw;
			padding-right: 10vw;

			p{
				width: 80vw;
			}

		}

		.head-about{
			font-size: 2.5em;
			color: $darkgrey;

			@include media-breakpoint-down(sm) {
				font-size: 1.7em;
			}

		}

		.content-about{
			height: auto;
			margin-top: 10vh;
			font-size: 1.5em;
			margin-bottom: 10vh;

			@include media-breakpoint-down(sm) {
				font-size: 1.2em;
			}

			a.link{
				color: $darkgrey;
				text-decoration: underline;

				&:after{
					content:"";
					position: absolute;
					height: 5px;
					width: 10px;
					background-color: $white;
					left: 0px;
					margin-top: 23px;
					transition: left .9s;
				}

				&:hover::after{
					left: 180px;
				}
			}

			ul{
				list-style-type: none;
				margin-top: 3vh;

				@include media-breakpoint-down(sm) {
					padding: 0;
				}

				li{
					display: inline-block;
					width: 25px;
					height: 25px;
					margin-right: 25px;
					margin-bottom: 25px;

					@include media-breakpoint-down(sm) {
						margin-right: 20px;
						margin-bottom: 20px;
					}

					&:last-child{
						margin-right:0;
					}

					a{
						color: $darkgrey;

						img{
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}

}

/* PAGE PROJECT */

.project{

	.masonry{
		padding-top: 15vh;
		display: flex; 
	 	flex-direction:row;
	 	align-items: left; 
	 	flex-wrap: wrap;
	 	font-size: 0; 

		.item{
			width: 60%;
			margin-bottom: 15vh;
			height: 55vh;
			opacity: 0;

			&.right{
				margin-left: auto;
			}

			@include media-breakpoint-down(sm) {
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 15vh;
				height: 50vh;

				&:last-child{
					margin-bottom:20vh;
				}
			}

			a{

				position: relative;
				display: block;
				height: inherit;

				&:hover .wrapper::before{
					opacity: .8;
				}

				&:hover .wrapper img{
					transform: scale(1.02,1.02);
				}

				&:hover .title-img{
					top:50%;
					opacity: 1;
				}

				&:hover .title-img .view-project{
					margin-top:0;
					opacity: 1;
				}

				.wrapper{

					position: relative;
					z-index: 999;
					overflow: hidden;

						&::before{
							content:'';
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: currentColor;
							z-index: 7000;
							opacity: 0;
							transition:opacity .5s;
							-webkit-transition:opacity .5s;
							-moz-transition:opacity .5s;

							@include media-breakpoint-down(md) {
								opacity: .5;
							}
						}

						.image-ratio{
							display: block;
						}

						img{
							max-width:100%;
							width: 100%;
							margin-left: auto;
							margin-right: auto;
							display: block;
							position: absolute;
							left: 0%;
							top: 0;
							transition:transform .3s;
							-webkit-transition:transform .3s;
							-moz-transition:transform .3s;

							@include media-breakpoint-down(md) {
								height: 100%;
								width: auto;
								max-width: 150%;
							}
						}
				}

				.title-img{
					color: $white;
					padding: 0 15%;
					height: auto;
					display: block;
					width: 100%;
					font-size: 70px;
					position: absolute;
					top: 60%;
					left: 50%;
					transform: translate(-50%,-50%);
					z-index: 9999;
					text-align: center;
					font-family: $tropicalFont;
					opacity: 0;
					transition: opacity .3s, top .3s;
					-webkit-transition: opacity .3s, top .3s;
					line-height: 50px;

					@include media-breakpoint-down(md) {
						opacity: 1;
						font-size: 45px;
						top: 50%;
						line-height: 40px;
					}

					.view-project{
						display: block;
						font-family: $normalFont !important;
						font-size: .3em;
						font-weight: normal;
						color: $darkgrey;
						opacity: 0;
						margin-top: 15px;
						transition: opacity .8s, margin-top .8s;
						-webkit-transition: opacity .8s, margin-top .8s;

						@include media-breakpoint-down(md) {
							font-size: .4em;
							font-weight: bold;						}
					}
				}

			}
		}

	}

}